<div class="veda-preloader" style="--veda-preloader-background-color: var(--color-light);--veda-preloader-color: var(--color-secondary)">
      
      <div className="veda-preloader__item-wrapper">
        <div class="veda-preloader__item--1"></div>
      </div>
    </div>