
[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .collapse-active .collapse-icon {
  display: none; }

[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .collapse-active .collapse-icon-active {
  display: block; }

[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .shopify-payment-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0; }

[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .shopify-payment-button__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0; }

[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .shopify-cleanslate {
  display: none; }

[data-id='id_dc15e9df-7a2f-47f1-be0b-764c2eb2140b'] .shopify-payment-button__more-options {
  display: none; }

@keyframes viewEye {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.6; }
  50% {
    opacity: 0.3; }
  75% {
    opacity: 0.6; }
  100% {
    opacity: 0.9; } }
























































































































































