













































[data-css="css_476018428"] {color:rgba(255,235,98,1) !important;
font-weight:700 !important;
font-family:var(--font-secondary) !important;
}




[data-css="css_4272236274"] {color:var(--color-light-freeze) !important;
font-weight:300 !important;
font-family:var(--font-primary) !important;
}




[data-css="css_4272236274"] {color:var(--color-light-freeze) !important;
font-weight:300 !important;
font-family:var(--font-primary) !important;
}









[data-css="css_2463722795"] {background-color:var(--color-light-freeze) !important;
color:var(--color-dark-freeze) !important;
border-radius:15px !important;
}




[data-css="css_2333643399"] {color:var(--color-light-freeze) !important;
font-weight:400 !important;
text-transform:capitalize !important;
}



























