

[data-css="css_3839331891"] {text-transform:uppercase !important;
letter-spacing:3px !important;
}

[data-css="css_4159235255"] {margin-bottom: clamp(23px, 0.8750000000000001vw + 19.5px, 30px) !important;
}







[data-css="css_3839331891"] {text-transform:uppercase !important;
letter-spacing:3px !important;
}

[data-css="css_4159235255"] {margin-bottom: clamp(23px, 0.8750000000000001vw + 19.5px, 30px) !important;
}























































[data-css="css_476018428"] {color:rgba(255,235,98,1) !important;
font-weight:700 !important;
font-family:var(--font-secondary) !important;
}




[data-css="css_4272236274"] {color:var(--color-light-freeze) !important;
font-weight:300 !important;
font-family:var(--font-primary) !important;
}




[data-css="css_4272236274"] {color:var(--color-light-freeze) !important;
font-weight:300 !important;
font-family:var(--font-primary) !important;
}









[data-css="css_1209495836"] {background-color:var(--color-light-freeze) !important;
color:var(--color-dark-freeze) !important;
border-radius:15px !important;
animation:pulse var(--animate-duration, 1s) both infinite !important;
}[data-css="css_1209495836"]:hover {background-color:var(--color-dark-freeze) !important;
color:var(--color-light-freeze) !important;
}




[data-css="css_2333643399"] {color:var(--color-light-freeze) !important;
font-weight:400 !important;
text-transform:capitalize !important;
}





























































































































