
          [data-css="css_1789800329"] {color:var(--color-light-freeze) !important;
}
[data-css="css_3422187993"] {animation:pulse var(--animate-duration, 1s) both infinite !important;
}
























































[data-id='id_d1651333-b223-4582-9805-23e073bd3728'].bg-animation {
  animation: id_d1651333-b223-4582-9805-23e073bd3728-bg 20s linear infinite;
  background-position: 0 0; }

@keyframes id_d1651333-b223-4582-9805-23e073bd3728-bg {
  50% {
    background-position: 0 100%; } }

[data-id='id_ea6260ce-fdc6-4f83-b096-bfa658638885'] .veda-nav__menu {
  background-color: var(--menu-mobile-background) !important; }


        